.goal-subtitle {
  font-size: 12px;
  text-transform: CAPITALIZE;
  color: #D71121;
}

.goal {
  margin: 10px;
  width: 100%;
}

.goal-leftcontainer {
  background-image: url("../img/iphone6.png");
  background-size: cover;
  width: 100%;
  height: 40vh;
  padding: 10px;
  float: left;
}

.about {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  padding-bottom: 0px;
}

.about-content {
  padding: 20px;
  font-size: 16px;
  color: #888;
  height: 100px;
  width: 527px;
}

.about-link {
  padding: 20px;
  padding-top: 0px;
  font-size: 16px;
  font-family: Lato Light;
}

.about-link span {
  padding-right: 20px;
  color: #D71121;
  text-transform: uppercase;
}

.about-link i {
  padding-right: 10px;
}

.review-container {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.review-title {
  font-size: 14px;
  text-transform: uppercase;
}

.review-writecontent {
  background-color: #ccc;
  padding: 5px;
  font-size: 12px;
  text-transform: capitalize;
}

.review-detail {
  padding: 20px;
  padding-left: 0px;
  padding-right: 10px;
}

.review-detail span {
  color: #D71121;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
}

.reviewer {
  padding: 20px;
}

.reviewer-image {
  background-color: #ccc;
  width: 30px;
  height: 30px;
  float: left;
}

.reviewer-name {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 10px;
}

.reviewer-detail {
  padding-top: 10px;
  float: left;
}

.reviewer-content {
  font-size: 14px;
}

.reviewer-reviews {
  font-size: 12px;
  padding-left: 10px;
}

.follower {
  padding: 5px;
  font-size: 16px;
  font-family: Lato Light;
}

.follower span {
  padding-left: 10px;
  padding-right: 10px;
}

.tag {
  padding: 10px;
  padding-top: 0px;
  height: 200px;
}

.tag-title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
}

.tag div {
  background-color: #ccc;
  margin: 5px;
  padding: 8px;
  font-size: 14px;
  float: left;
  text-transform: uppercase;
}

.recommend {
  padding: 10px;
}

.recommend-title {
  padding-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.photo {
  height: 300px;
}

.photo div div {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  float: left;
  margin: 20px;
  margin-right: 0px;
}

.service-title {
  padding: 20px;
  font-size: 16px;
  text-transform: uppercase;
}

.contact {
  padding-left: 20px;
}

.contact-title {
  font-size: 14px;
  text-transform: uppercase;
}

.contact-detail {
  padding: 10px;
  padding-left: 0px;
  font-size: 12px;
  color: #888;
}

.contact-direction span {
  font-size: 14px;
  text-transform: uppercase;
  color: red;
  padding-right: 20px;
}

.contact-direction span i {
  color: #000;
  padding-right: 10px;
}

.reservation {
  padding: 20px;
}

.reservation-title {
  font-size: 16px;
  text-transform: uppercase;
}

.reservation .dropdown {
  margin-right: 5px;
}

.reservation .check-in-out {
  float: left;
}

.reserve {
  padding-left: 0px;
  padding-right: 14% !important;
  float: left;
  color: #888 !important;
  font-size: 12px !important;
}
