.list-title {
  color: #D71121;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
}

.leftmenu-container {
  padding: 20px;
  margin-left: 15%;
  border-bottom: 1px solid #ccc;
}

.book {
  background-color: #D71121;
  color: #fff;
  width: 80px;
  padding: 8px;
  margin-top: 20px;
  text-align: center
}

.menu-arrow {
  float: right;
  color: #888;
}

.textbox {
  background-color: #ccc;
  font-size: 14px;
  text-transform: uppercase;
  border: 0px;
  padding: 10px;
  height: 30px !important;
  margin: 5px;
  margin-left: 0px;
}

.check-in-out {
  position: relative;
  height: 30px;
}

.check-in-out ul {
  text-transform: uppercase;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #ccc;
  padding: 5px;
  float: left;
  cursor: pointer;
}

.check-in-out ul ul li {
  padding: 5px;
  padding-left: 0px;
  float: left;
}

.check-in-out ul ul {
  display: none;
  position: absolute;
  width: 80px;
  margin-left: -6px;
}

.check-in-out li ul li {
  float: none;
}

.check-in-out .checkin-date {
  float: left;
  width: 80px;
}

.check-in-out .checkout-date {
  float: left;
  width: 80px;
}

.check-in-out .checkin-month {
  float: right;
  width: 80px;
}

.check-in-out .checkout-month {
  float: right;
  width: 80px;
}
/*dropdown style*/

.dropdown select {
  background: transparent;
  width: 90px;
  padding: 8px;
  font-size: 14px;
  color: #888;
  line-height: 1;
  border: 0px solid;
  border-radius: 0px;
  /*Hides the default arrows for Selects*/
  
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.dropdown {
  width: 85px;
  float: left;
  background: no-repeat right #ccc;
  border-top: #ccc 1px solid;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  position: relative;
}

.dropdown:before {
  content: "";
  position: absolute;
  right: 3px;
  top: 8px;
  margin: 4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #888;
}

.dropdown:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 2px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid #ccc;
}

select > option {
  background: #ccc;
  color: #333;
  outline: none;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.dropdown option {
  padding: 5px;
}

select {
  border: 0px solid;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.leftmenu-title {
  color: #D71121;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
  padding-left: 0px;
  font-weight: bold;
}

.leftmenu-title span {
  text-transform: lowercase;
}

.price-min {
  float: left;
  color: #888;
}

.price-max {
  float: right;
  color: #888;
}

.star-review {
  color: #888;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 0px;
}

.star-review span {
  float: right;
}

.share-list {
  padding: 5px;
  float: right;
  font-size: 16px;
  font-family: Lato Light;
  text-transform: uppercase;
  color: #888;
}

.share-list i {
  color: #333;
}

.hotel-list-title {
  font-family: Lato Light;
}

.hotel-image {
  width: 35%;
  padding: 70px;
  height: auto;
}

.hotel-content {
  width: 65%;
  padding: 10px;
  padding-top: 0px;
}

.hotel-content .title {
  padding-top: 0px;
  font-size: 16px;
}

.slider-handle {
  background-color: #D71121 !important;
  background-image: linear-gradient(to bottom, #F00, #F00) !important;
}

.slider-handle.round {
  border-radius: 0 !important;
  background-color: #D71121 !important;
  padding: 5px;
}

@media (max-width: 1075px) and (min-width: 1000px) {
  .leftmenu-container {
    padding: 0px;
    margin-left: 0%;
  }
}
